<div
  class="container-fluid"
  style="background-color: rgba(82, 135, 82)">
  <div class="row dropdown">
    <div class="col-md-auto">
      <span>
        <a
          class="text-light text-decoration-none"
          routerLink=""
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
          Home
        </a>
      </span>
    </div>
    <div class="col-md-auto">
      <span>
        <a
          class="text-light text-decoration-none"
          routerLink="/village-quests"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
          Village Quests
        </a>
      </span>
    </div>
  </div>
</div>
