:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    width: 50%;
    margin: auto;
    background-color: rgba(120, 173, 120, 0.8);;
  }
